streamlit
python-dotenv
google-generativeai
python-docx
langchain
langchain-google-genai
langchain-chroma
unstructured
langchain-community
langchain-huggingface
sentence-transformers

# FastAPI
fastapi
uvicorn[standard]
python-multipart
httpx